@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-KdzBvkso9nSg: 16px;
  --plasmic-token-h-2: var(--token-KdzBvkso9nSg);
  --token-4iPB5aSWuT61: #2a2b37;
  --plasmic-token-neutral-900: var(--token-4iPB5aSWuT61);
  --token-ziPBKxBCIfGf: #383848;
  --plasmic-token-neutral-800: var(--token-ziPBKxBCIfGf);
  --token-4lMO7OjBQVxX: #48485c;
  --plasmic-token-neutral-700: var(--token-4lMO7OjBQVxX);
  --token-5fzyLUaHnz-Q: #5c5d76;
  --plasmic-token-neutral-600: var(--token-5fzyLUaHnz-Q);
  --token-dHqJS-9LvI1H: #656682;
  --plasmic-token-neutral-500: var(--token-dHqJS-9LvI1H);
  --token-GsVXjqzOOJcF: #84859b;
  --plasmic-token-neutral-400: var(--token-GsVXjqzOOJcF);
  --token-IUVCYdsCrI5A: #9898ab;
  --plasmic-token-neutral-300: var(--token-IUVCYdsCrI5A);
  --token-PTtWdSfSsIFQ: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-PTtWdSfSsIFQ);
  --token-j6_nOsfUS6Rv: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-j6_nOsfUS6Rv);
  --token-TMmj7RmXpvuj: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-TMmj7RmXpvuj);
  --token-tR2oxIBbgvcX: 14px;
  --plasmic-token-body-small: var(--token-tR2oxIBbgvcX);
  --token-ixRqEIeMfhyr: 20px;
  --plasmic-token-body-small-2: var(--token-ixRqEIeMfhyr);
  --token-dVIT70bvCa02: #01471e;
  --plasmic-token-success-text: var(--token-dVIT70bvCa02);
  --token-8EdLdrR7a6Z5: #dffbea;
  --plasmic-token-success-bg: var(--token-8EdLdrR7a6Z5);
  --token-9fCYMxg03O-0: #aff5cb;
  --plasmic-token-success-200: var(--token-9fCYMxg03O-0);
  --token-8H198y8vA3zi: #87efb1;
  --plasmic-token-success-300: var(--token-8H198y8vA3zi);
  --token-4mWcfPu54-Vw: #5fea97;
  --plasmic-token-success-400: var(--token-4mWcfPu54-Vw);
  --token-e_howPjB50Xe: #37e57d;
  --plasmic-token-success-500: var(--token-e_howPjB50Xe);
  --token-NpTP_wDWU_kg: #24bf63;
  --plasmic-token-success-600: var(--token-NpTP_wDWU_kg);
  --token-mkDB6pF0dKOH: #159649;
  --plasmic-token-success-700: var(--token-mkDB6pF0dKOH);
  --token-Lr6dB-ioexVM: #096e32;
  --plasmic-token-success-800: var(--token-Lr6dB-ioexVM);
  --token-5GBdz5SxWhSf: #d7faf8;
  --plasmic-token-secondary-100: var(--token-5GBdz5SxWhSf);
  --token-t4P9xDBf03df: #00ffed;
  --plasmic-token-secondary-200: var(--token-t4P9xDBf03df);
  --token-l10oUVWPK6Rk: #87efe8;
  --plasmic-token-secondary-300: var(--token-l10oUVWPK6Rk);
  --token-7LxVG3qqtEIj: #5feae1;
  --plasmic-token-secondary-400: var(--token-7LxVG3qqtEIj);
  --token-NluiO2JrRoX0: #37e5db;
  --plasmic-token-secondary-500: var(--token-NluiO2JrRoX0);
  --token-C10OH9qqR56m: #24bfb5;
  --plasmic-token-secondary-600: var(--token-C10OH9qqR56m);
  --token-n6kZzImUwc04: #15968e;
  --plasmic-token-secondary-700: var(--token-n6kZzImUwc04);
  --token-vCT2Do4U_3Cw: #096e67;
  --plasmic-token-secondary-800: var(--token-vCT2Do4U_3Cw);
  --token-1VwPfEHyr5o-: #014743;
  --plasmic-token-secondary-900: var(--token-1VwPfEHyr5o-);
  --token-ieXYmEyq7J9Y: #d8d8fa;
  --plasmic-token-primary-100: var(--token-ieXYmEyq7J9Y);
  --token-5F_cVOOaA7-R: #b0b1f4;
  --plasmic-token-primary-200: var(--token-5F_cVOOaA7-R);
  --token-K-gCiN5a9VWB: #898bef;
  --plasmic-token-primary-300: var(--token-K-gCiN5a9VWB);
  --token-7pWNJzW-8GC4: #6164e9;
  --plasmic-token-primary-400: var(--token-7pWNJzW-8GC4);
  --token-FU7oj-2pIEpx: #3a3de4;
  --plasmic-token-primary-500: var(--token-FU7oj-2pIEpx);
  --token-oBQVQ2T4zHMg: #2225bf;
  --plasmic-token-primary-600: var(--token-oBQVQ2T4zHMg);
  --token-pP4A3G8b_jto: #141696;
  --plasmic-token-primary-700: var(--token-pP4A3G8b_jto);
  --token-rd5dt8yAz7g3: #08096e;
  --plasmic-token-primary-800: var(--token-rd5dt8yAz7g3);
  --token-VrsIrwNmgur_: #010347;
  --plasmic-token-primary-900: var(--token-VrsIrwNmgur_);
  --token-cq5Th0Qedvoo: #f2f3fd;
  --plasmic-token-primary-050: var(--token-cq5Th0Qedvoo);
  --token-jBH_xosoKadl: #faf6d7;
  --plasmic-token-warning-100: var(--token-jBH_xosoKadl);
  --token-IFu97GTNDr3W: #f5eeaf;
  --plasmic-token-warning-200: var(--token-IFu97GTNDr3W);
  --token-QYDR-WsNRGHp: #efe587;
  --plasmic-token-warning-300: var(--token-QYDR-WsNRGHp);
  --token-All7swDmTV9B: #eadd5f;
  --plasmic-token-warning-400: var(--token-All7swDmTV9B);
  --token-G0BUPcH9ofp7: #e5d437;
  --plasmic-token-warning-500: var(--token-G0BUPcH9ofp7);
  --token-SkxCLzxURgct: #bfb024;
  --plasmic-token-warning-600: var(--token-SkxCLzxURgct);
  --token-j9PAvGmXewlm: #998c15;
  --plasmic-token-warning-700: var(--token-j9PAvGmXewlm);
  --token-JFuYInfrPXUW: #6e6408;
  --plasmic-token-warning-800: var(--token-JFuYInfrPXUW);
  --token-WgeyYknrXkvL: #383302;
  --plasmic-token-warning-900: var(--token-WgeyYknrXkvL);
  --token-Y-gq5We2feQe: #fad7d7;
  --plasmic-token-danger-100: var(--token-Y-gq5We2feQe);
  --token-SwB1Yhyl-hpL: #f18787;
  --plasmic-token-danger-300: var(--token-SwB1Yhyl-hpL);
  --token-tbx74SIdwRgX: #f6afaf;
  --plasmic-token-danger-200: var(--token-tbx74SIdwRgX);
  --token-UYf8Iz32LBna: #ed6060;
  --plasmic-token-danger-400: var(--token-UYf8Iz32LBna);
  --token-UkjxoqsEaQfR: #e83838;
  --plasmic-token-danger-500: var(--token-UkjxoqsEaQfR);
  --token-eqZfk8_uyMtN: #c22525;
  --plasmic-token-danger-600: var(--token-eqZfk8_uyMtN);
  --token-YoMX0j5i1Phc: #9c1616;
  --plasmic-token-danger-700: var(--token-YoMX0j5i1Phc);
  --token-fhz8r7MusgLY: #6b0707;
  --plasmic-token-danger-800: var(--token-fhz8r7MusgLY);
  --token-L89IgbKpiwbb: #360202;
  --plasmic-token-danger-900: var(--token-L89IgbKpiwbb);
  --token-AftGnp5yWH5j: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-AftGnp5yWH5j);
  --token-vc5jmL3beDRf: 0.75rem;
  --plasmic-token-size-12: var(--token-vc5jmL3beDRf);
  --token-CtX6tDreaAXI: #030712;
  --plasmic-token-basic-text-primary: var(--token-CtX6tDreaAXI);
  --token-0mXKf3iyjvQM: Inter;
  --plasmic-token-sans-serif: var(--token-0mXKf3iyjvQM);
  --token-TGJgqZ_nTGqn: 1rem;
  --plasmic-token-font-md: var(--token-TGJgqZ_nTGqn);
  --token-LcWDCF7rP9Ag: 1.25;
  --plasmic-token-line-height-md: var(--token-LcWDCF7rP9Ag);
  --token-3fmNqVO6GkmB: 0.5rem;
  --plasmic-token-size-8: var(--token-3fmNqVO6GkmB);
  --token-qFF_5_-wvbL0: 0.375rem;
  --plasmic-token-size-6: var(--token-qFF_5_-wvbL0);
  --token-vmhoFFpw7mrw: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-vmhoFFpw7mrw);
  --token-AzU-yOMBdPfi: 0.25rem;
  --plasmic-token-size-4: var(--token-AzU-yOMBdPfi);
  --token-L6T0Z-9IQe9-: #2563eb;
  --plasmic-token-brand-brand: var(--token-L6T0Z-9IQe9-);
  --token-q9psrF8B95qu: 0.75rem;
  --plasmic-token-font-sm: var(--token-q9psrF8B95qu);
  --token-1vUDgkQMo_1Z: 1;
  --plasmic-token-line-height-sm: var(--token-1vUDgkQMo_1Z);
  --token-LqlP1f6SxflC: 1.25rem;
  --plasmic-token-font-lg: var(--token-LqlP1f6SxflC);
  --token-yGvzHoc58Pv1: 1.4;
  --plasmic-token-line-height-lg: var(--token-yGvzHoc58Pv1);
  --token-87g-EFAi0Wd3: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-87g-EFAi0Wd3);
  --token-8CtIcidiJIdX: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-8CtIcidiJIdX);
  --token-vx2ccmnWm730: #ffffff;
  --plasmic-token-basic-container-background: var(--token-vx2ccmnWm730);
  --token-bsUgbv4eD9NJ: 1.25rem;
  --plasmic-token-size-20: var(--token-bsUgbv4eD9NJ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-zuzbR0Ui0wrD_font-family: "Inter", sans-serif;
  --mixin-zuzbR0Ui0wrD_font-size: 14px;
  --mixin-zuzbR0Ui0wrD_font-weight: 400;
  --mixin-zuzbR0Ui0wrD_font-style: normal;
  --mixin-zuzbR0Ui0wrD_color: var(--token-VrsIrwNmgur_);
  --mixin-zuzbR0Ui0wrD_text-align: left;
  --mixin-zuzbR0Ui0wrD_text-transform: none;
  --mixin-zuzbR0Ui0wrD_line-height: 21px;
  --mixin-zuzbR0Ui0wrD_letter-spacing: -0.6%;
  --mixin-zuzbR0Ui0wrD_white-space: pre-wrap;
  --mixin-zuzbR0Ui0wrD_user-select: text;
  --mixin-zuzbR0Ui0wrD_text-decoration-line: none;
  --mixin-zuzbR0Ui0wrD_text-overflow: clip;
  --mixin-QEZ9ZPr4WQFB_color: var(--token-4iPB5aSWuT61);
  --mixin-QEZ9ZPr4WQFB_font-weight: 600;
  --mixin-QEZ9ZPr4WQFB_font-size: 26px;
  --mixin-QEZ9ZPr4WQFB_line-height: 32px;
  --mixin-QEZ9ZPr4WQFB_letter-spacing: -1%;
  --mixin-QEZ9ZPr4WQFB_white-space: pre-wrap;
  --mixin-vAvuvOPSIsKt_color: var(--token-4iPB5aSWuT61);
  --mixin-vAvuvOPSIsKt_font-size: 23px;
  --mixin-vAvuvOPSIsKt_font-weight: 700;
  --mixin-vAvuvOPSIsKt_line-height: 28px;
  --mixin-vAvuvOPSIsKt_font-family: "Inter", sans-serif;
  --mixin-vAvuvOPSIsKt_letter-spacing: -1%;
  --mixin-vAvuvOPSIsKt_white-space: pre-wrap;
  --mixin-3i64CEkSgRGz_color: #0070f3;
  --mixin-3i64CEkSgRGz_white-space: pre-wrap;
  --mixin-DGr7VCGngrwT_color: var(--token-4iPB5aSWuT61);
  --mixin-DGr7VCGngrwT_font-size: 20px;
  --mixin-DGr7VCGngrwT_font-weight: 700;
  --mixin-DGr7VCGngrwT_line-height: 24px;
  --mixin-DGr7VCGngrwT_letter-spacing: -1%;
  --mixin-DGr7VCGngrwT_font-family: "Inter", sans-serif;
  --mixin-DGr7VCGngrwT_white-space: pre-wrap;
  --mixin-3yMY4y59BfKf_color: var(--token-4iPB5aSWuT61);
  --mixin-3yMY4y59BfKf_font-size: 18px;
  --mixin-3yMY4y59BfKf_font-weight: 700;
  --mixin-3yMY4y59BfKf_line-height: 24px;
  --mixin-3yMY4y59BfKf_letter-spacing: -1%;
  --mixin-3yMY4y59BfKf_font-family: "Inter", sans-serif;
  --mixin-3yMY4y59BfKf_white-space: pre-wrap;
  --mixin-b5V9nzQGfH6X_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-b5V9nzQGfH6X_border-bottom-color: #dddddd;
  --mixin-b5V9nzQGfH6X_border-bottom-style: solid;
  --mixin-b5V9nzQGfH6X_border-bottom-width: 1px;
  --mixin-b5V9nzQGfH6X_border-left-color: #dddddd;
  --mixin-b5V9nzQGfH6X_border-left-style: solid;
  --mixin-b5V9nzQGfH6X_border-left-width: 1px;
  --mixin-b5V9nzQGfH6X_border-right-color: #dddddd;
  --mixin-b5V9nzQGfH6X_border-right-style: solid;
  --mixin-b5V9nzQGfH6X_border-right-width: 1px;
  --mixin-b5V9nzQGfH6X_border-top-color: #dddddd;
  --mixin-b5V9nzQGfH6X_border-top-style: solid;
  --mixin-b5V9nzQGfH6X_border-top-width: 1px;
  --mixin-b5V9nzQGfH6X_border-bottom-left-radius: 3px;
  --mixin-b5V9nzQGfH6X_border-bottom-right-radius: 3px;
  --mixin-b5V9nzQGfH6X_border-top-left-radius: 3px;
  --mixin-b5V9nzQGfH6X_border-top-right-radius: 3px;
  --mixin-b5V9nzQGfH6X_font-family: "Inconsolata";
  --mixin-b5V9nzQGfH6X_padding-bottom: 1px;
  --mixin-b5V9nzQGfH6X_padding-left: 4px;
  --mixin-b5V9nzQGfH6X_padding-right: 4px;
  --mixin-b5V9nzQGfH6X_padding-top: 1px;
  --mixin-b5V9nzQGfH6X_white-space: pre-wrap;
  --mixin-7fEZ0FjCmCNS_border-left-color: #dddddd;
  --mixin-7fEZ0FjCmCNS_border-left-style: solid;
  --mixin-7fEZ0FjCmCNS_border-left-width: 3px;
  --mixin-7fEZ0FjCmCNS_color: #888888;
  --mixin-7fEZ0FjCmCNS_padding-left: 10px;
  --mixin-7fEZ0FjCmCNS_white-space: pre-wrap;
  --mixin-AW-RbRRdcDze_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AW-RbRRdcDze_border-bottom-color: #dddddd;
  --mixin-AW-RbRRdcDze_border-bottom-style: solid;
  --mixin-AW-RbRRdcDze_border-bottom-width: 1px;
  --mixin-AW-RbRRdcDze_border-left-color: #dddddd;
  --mixin-AW-RbRRdcDze_border-left-style: solid;
  --mixin-AW-RbRRdcDze_border-left-width: 1px;
  --mixin-AW-RbRRdcDze_border-right-color: #dddddd;
  --mixin-AW-RbRRdcDze_border-right-style: solid;
  --mixin-AW-RbRRdcDze_border-right-width: 1px;
  --mixin-AW-RbRRdcDze_border-top-color: #dddddd;
  --mixin-AW-RbRRdcDze_border-top-style: solid;
  --mixin-AW-RbRRdcDze_border-top-width: 1px;
  --mixin-AW-RbRRdcDze_border-bottom-left-radius: 3px;
  --mixin-AW-RbRRdcDze_border-bottom-right-radius: 3px;
  --mixin-AW-RbRRdcDze_border-top-left-radius: 3px;
  --mixin-AW-RbRRdcDze_border-top-right-radius: 3px;
  --mixin-AW-RbRRdcDze_font-family: "Inconsolata";
  --mixin-AW-RbRRdcDze_padding-bottom: 3px;
  --mixin-AW-RbRRdcDze_padding-left: 6px;
  --mixin-AW-RbRRdcDze_padding-right: 6px;
  --mixin-AW-RbRRdcDze_padding-top: 3px;
  --mixin-AW-RbRRdcDze_white-space: pre-wrap;
  --mixin-Y3bMk9zjJ3H4_display: flex;
  --mixin-Y3bMk9zjJ3H4_flex-direction: column;
  --mixin-Y3bMk9zjJ3H4_align-items: stretch;
  --mixin-Y3bMk9zjJ3H4_justify-content: flex-start;
  --mixin-Y3bMk9zjJ3H4_list-style-position: outside;
  --mixin-Y3bMk9zjJ3H4_padding-left: 40px;
  --mixin-Y3bMk9zjJ3H4_position: relative;
  --mixin-Y3bMk9zjJ3H4_list-style-type: disc;
  --mixin-Y3bMk9zjJ3H4_white-space: pre-wrap;
  --mixin-3B7AkXO4alyB_display: flex;
  --mixin-3B7AkXO4alyB_flex-direction: column;
  --mixin-3B7AkXO4alyB_align-items: stretch;
  --mixin-3B7AkXO4alyB_justify-content: flex-start;
  --mixin-3B7AkXO4alyB_list-style-position: outside;
  --mixin-3B7AkXO4alyB_padding-left: 40px;
  --mixin-3B7AkXO4alyB_position: relative;
  --mixin-3B7AkXO4alyB_list-style-type: decimal;
  --mixin-3B7AkXO4alyB_white-space: pre-wrap;
  --mixin-E8UlsrUI4OvQ_color: var(--token-ziPBKxBCIfGf);
  --mixin-E8UlsrUI4OvQ_font-size: 16px;
  --mixin-E8UlsrUI4OvQ_font-weight: 600;
  --mixin-E8UlsrUI4OvQ_line-height: 20px;
  --mixin-E8UlsrUI4OvQ_letter-spacing: -1%;
  --mixin-E8UlsrUI4OvQ_font-family: "Inter", sans-serif;
  --mixin-E8UlsrUI4OvQ_white-space: pre-wrap;
  --mixin-X9NQ161h-dQD_color: var(--token-4iPB5aSWuT61);
  --mixin-X9NQ161h-dQD_font-size: 14px;
  --mixin-X9NQ161h-dQD_font-weight: 600;
  --mixin-X9NQ161h-dQD_line-height: 20px;
  --mixin-X9NQ161h-dQD_letter-spacing: 1%;
  --mixin-X9NQ161h-dQD_font-family: "Inter", sans-serif;
  --mixin-X9NQ161h-dQD_white-space: pre-wrap;
  --mixin-9ss3tb0LRZMx_color: #3291ff;
  --mixin-9ss3tb0LRZMx_white-space: pre-wrap;
  --mixin-ffpqXCaaHMxQ_white-space: pre-wrap;
  --mixin-7yRMcqvDdsVA_color: var(--token-4lMO7OjBQVxX);
  --mixin-7yRMcqvDdsVA_font-family: "Inter", sans-serif;
  --mixin-7yRMcqvDdsVA_font-weight: 500;
  --mixin-7yRMcqvDdsVA_font-size: 16px;
  --mixin-7yRMcqvDdsVA_line-height: 24px;
  --mixin-7yRMcqvDdsVA_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-yE6TQ8frwGAp_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-yE6TQ8frwGAp_white-space);
  --mixin-7er-DJI_mEKZ_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-7er-DJI_mEKZ_white-space);
  --mixin-37bZfuQZYtiL_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-37bZfuQZYtiL_box-shadow);
  --mixin-37bZfuQZYtiL_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-37bZfuQZYtiL_white-space
  );
  --mixin-PUcq3SK1cgEg_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-PUcq3SK1cgEg_white-space);
  --mixin-Ve42znmkNs9I_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-Ve42znmkNs9I_white-space);
  --mixin-t0T2DvymngU9_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-t0T2DvymngU9_box-shadow
  );
  --mixin-t0T2DvymngU9_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-t0T2DvymngU9_white-space
  );
  --mixin-vcIWA-vNTGxO_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-vcIWA-vNTGxO_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-zuzbR0Ui0wrD_font-family);
  font-size: var(--mixin-zuzbR0Ui0wrD_font-size);
  font-weight: var(--mixin-zuzbR0Ui0wrD_font-weight);
  font-style: var(--mixin-zuzbR0Ui0wrD_font-style);
  color: var(--mixin-zuzbR0Ui0wrD_color);
  text-align: var(--mixin-zuzbR0Ui0wrD_text-align);
  text-transform: var(--mixin-zuzbR0Ui0wrD_text-transform);
  line-height: var(--mixin-zuzbR0Ui0wrD_line-height);
  letter-spacing: var(--mixin-zuzbR0Ui0wrD_letter-spacing);
  white-space: var(--mixin-zuzbR0Ui0wrD_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-QEZ9ZPr4WQFB_color);
  font-weight: var(--mixin-QEZ9ZPr4WQFB_font-weight);
  font-size: var(--mixin-QEZ9ZPr4WQFB_font-size);
  line-height: var(--mixin-QEZ9ZPr4WQFB_line-height);
  letter-spacing: var(--mixin-QEZ9ZPr4WQFB_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-vAvuvOPSIsKt_color);
  font-size: var(--mixin-vAvuvOPSIsKt_font-size);
  font-weight: var(--mixin-vAvuvOPSIsKt_font-weight);
  line-height: var(--mixin-vAvuvOPSIsKt_line-height);
  font-family: var(--mixin-vAvuvOPSIsKt_font-family);
  letter-spacing: var(--mixin-vAvuvOPSIsKt_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-3i64CEkSgRGz_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-DGr7VCGngrwT_color);
  font-size: var(--mixin-DGr7VCGngrwT_font-size);
  font-weight: var(--mixin-DGr7VCGngrwT_font-weight);
  line-height: var(--mixin-DGr7VCGngrwT_line-height);
  letter-spacing: var(--mixin-DGr7VCGngrwT_letter-spacing);
  font-family: var(--mixin-DGr7VCGngrwT_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-3yMY4y59BfKf_color);
  font-size: var(--mixin-3yMY4y59BfKf_font-size);
  font-weight: var(--mixin-3yMY4y59BfKf_font-weight);
  line-height: var(--mixin-3yMY4y59BfKf_line-height);
  letter-spacing: var(--mixin-3yMY4y59BfKf_letter-spacing);
  font-family: var(--mixin-3yMY4y59BfKf_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-b5V9nzQGfH6X_font-family);
  border-radius: var(--mixin-b5V9nzQGfH6X_border-top-left-radius)
    var(--mixin-b5V9nzQGfH6X_border-top-right-radius)
    var(--mixin-b5V9nzQGfH6X_border-bottom-right-radius)
    var(--mixin-b5V9nzQGfH6X_border-bottom-left-radius);
  padding: var(--mixin-b5V9nzQGfH6X_padding-top)
    var(--mixin-b5V9nzQGfH6X_padding-right)
    var(--mixin-b5V9nzQGfH6X_padding-bottom)
    var(--mixin-b5V9nzQGfH6X_padding-left);
  border-top: var(--mixin-b5V9nzQGfH6X_border-top-width)
    var(--mixin-b5V9nzQGfH6X_border-top-style)
    var(--mixin-b5V9nzQGfH6X_border-top-color);
  border-right: var(--mixin-b5V9nzQGfH6X_border-right-width)
    var(--mixin-b5V9nzQGfH6X_border-right-style)
    var(--mixin-b5V9nzQGfH6X_border-right-color);
  border-bottom: var(--mixin-b5V9nzQGfH6X_border-bottom-width)
    var(--mixin-b5V9nzQGfH6X_border-bottom-style)
    var(--mixin-b5V9nzQGfH6X_border-bottom-color);
  border-left: var(--mixin-b5V9nzQGfH6X_border-left-width)
    var(--mixin-b5V9nzQGfH6X_border-left-style)
    var(--mixin-b5V9nzQGfH6X_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-7fEZ0FjCmCNS_color);
  padding-left: var(--mixin-7fEZ0FjCmCNS_padding-left);
  border-left: var(--mixin-7fEZ0FjCmCNS_border-left-width)
    var(--mixin-7fEZ0FjCmCNS_border-left-style)
    var(--mixin-7fEZ0FjCmCNS_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-AW-RbRRdcDze_font-family);
  border-radius: var(--mixin-AW-RbRRdcDze_border-top-left-radius)
    var(--mixin-AW-RbRRdcDze_border-top-right-radius)
    var(--mixin-AW-RbRRdcDze_border-bottom-right-radius)
    var(--mixin-AW-RbRRdcDze_border-bottom-left-radius);
  padding: var(--mixin-AW-RbRRdcDze_padding-top)
    var(--mixin-AW-RbRRdcDze_padding-right)
    var(--mixin-AW-RbRRdcDze_padding-bottom)
    var(--mixin-AW-RbRRdcDze_padding-left);
  border-top: var(--mixin-AW-RbRRdcDze_border-top-width)
    var(--mixin-AW-RbRRdcDze_border-top-style)
    var(--mixin-AW-RbRRdcDze_border-top-color);
  border-right: var(--mixin-AW-RbRRdcDze_border-right-width)
    var(--mixin-AW-RbRRdcDze_border-right-style)
    var(--mixin-AW-RbRRdcDze_border-right-color);
  border-bottom: var(--mixin-AW-RbRRdcDze_border-bottom-width)
    var(--mixin-AW-RbRRdcDze_border-bottom-style)
    var(--mixin-AW-RbRRdcDze_border-bottom-color);
  border-left: var(--mixin-AW-RbRRdcDze_border-left-width)
    var(--mixin-AW-RbRRdcDze_border-left-style)
    var(--mixin-AW-RbRRdcDze_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Y3bMk9zjJ3H4_display);
  flex-direction: var(--mixin-Y3bMk9zjJ3H4_flex-direction);
  align-items: var(--mixin-Y3bMk9zjJ3H4_align-items);
  justify-content: var(--mixin-Y3bMk9zjJ3H4_justify-content);
  list-style-position: var(--mixin-Y3bMk9zjJ3H4_list-style-position);
  padding-left: var(--mixin-Y3bMk9zjJ3H4_padding-left);
  position: var(--mixin-Y3bMk9zjJ3H4_position);
  list-style-type: var(--mixin-Y3bMk9zjJ3H4_list-style-type);
  flex-column-gap: var(--mixin-Y3bMk9zjJ3H4_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-3B7AkXO4alyB_display);
  flex-direction: var(--mixin-3B7AkXO4alyB_flex-direction);
  align-items: var(--mixin-3B7AkXO4alyB_align-items);
  justify-content: var(--mixin-3B7AkXO4alyB_justify-content);
  list-style-position: var(--mixin-3B7AkXO4alyB_list-style-position);
  padding-left: var(--mixin-3B7AkXO4alyB_padding-left);
  position: var(--mixin-3B7AkXO4alyB_position);
  list-style-type: var(--mixin-3B7AkXO4alyB_list-style-type);
  flex-column-gap: var(--mixin-3B7AkXO4alyB_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-E8UlsrUI4OvQ_color);
  font-size: var(--mixin-E8UlsrUI4OvQ_font-size);
  font-weight: var(--mixin-E8UlsrUI4OvQ_font-weight);
  line-height: var(--mixin-E8UlsrUI4OvQ_line-height);
  letter-spacing: var(--mixin-E8UlsrUI4OvQ_letter-spacing);
  font-family: var(--mixin-E8UlsrUI4OvQ_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-X9NQ161h-dQD_color);
  font-size: var(--mixin-X9NQ161h-dQD_font-size);
  font-weight: var(--mixin-X9NQ161h-dQD_font-weight);
  line-height: var(--mixin-X9NQ161h-dQD_line-height);
  letter-spacing: var(--mixin-X9NQ161h-dQD_letter-spacing);
  font-family: var(--mixin-X9NQ161h-dQD_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-9ss3tb0LRZMx_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-7yRMcqvDdsVA_color);
  font-family: var(--mixin-7yRMcqvDdsVA_font-family);
  font-weight: var(--mixin-7yRMcqvDdsVA_font-weight);
  font-size: var(--mixin-7yRMcqvDdsVA_font-size);
  line-height: var(--mixin-7yRMcqvDdsVA_line-height);
}
