.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-vx2ccmnWm730);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: 1rem;
  width: 2rem;
  border-radius: 99px;
  border: 1px solid var(--token-L6T0Z-9IQe9-);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-L6T0Z-9IQe9-);
  outline-offset: 1px;
}
